.background {
  margin: 2em 3em 5em 3em;
}

.about {
  padding: 15px;
}

.about > h2 {
  color: #b794de;
  margin-bottom: 1.25em;

  @media screen and (max-width: 750px) {
    margin-top: 1.5em;
    text-align: center;
  }
}

.background > * {
  @media screen and (max-width: 650px) {
    margin-right: -40px;
    margin-left: -25px;
  }
}
