.background {
  margin: 2em 3em 5em 3em;
}

.about {
  padding: 15px 1px;
}

.about > h2 {
  color: #b794de;
  margin-bottom: 1.25em;

  @media screen and (max-width: 750px) {
    text-align: center;
  }
}

.background > * {
  font-size: 0.92rem;
  @media screen and (max-width: 650px) {
    font-size: 0.85rem;
    margin-right: -40px;
    margin-left: -25px;
  }
}
