.container > h2 {
  color: #b794de;
  margin-bottom: 1.5em;

  @media screen and (max-width: 750px) {
    text-align: center;
  }
}

.container {
  padding: 15px 1px;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.projects > * {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.line {
  margin-top: 90px;
}
