.work {
  padding: 12px;

  @media screen and (max-width: 650px) {
    padding: 0;
  }
}

.work > h2 {
  color: #b794de;
  margin-bottom: 1.25em;

  @media screen and (max-width: 550px) {
    text-align: center;
  }
}

.workbox {
  margin: 2em 3em 5em 3em;
  display: block;

  @media screen and (max-width: 650px) {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

.tab {
  @media screen and (max-width: 880px) {
    font-size: 0.7rem !important;
  }
}

.tab > * {
  text-align: right !important;
  align-items: normal !important;
  justify-content: right !important;

  @media screen and (max-width: 880px) {
    text-align: center !important;
    justify-content: center;
    align-items: center !important;
    white-space: normal;
    padding: 0px !important;
  }
}
