.work {
  padding: 12px;
  @media screen and (max-width: 650px) {
    padding: 2px;
  }
}

.work > h2 {
  color: #b794de;
  margin-bottom: 1.25em;

  @media screen and (max-width: 750px) {
    text-align: center;
  }
}

.workbox {
  margin: 2em 3em 5em 3em;
  display: block;

  @media screen and (max-width: 750px) {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  @media screen and (min-width: 750px) {
    display: flex !important;
  }
}

.worktabs {
  overflow: visible !important;

  @media screen and (min-width: 750px) {
    border-right: 1px solid #444 !important;
    border-bottom: none !important;
  }
}

.tab {
  @media screen and (max-width: 750px) {
    font-size: 0.7rem !important;
  }
  @media screen and (max-width: 600px) {
    font-size: 0.6rem !important;
  }
}

.tab > * {
  text-align: right !important;
  align-items: normal !important;
  justify-content: right !important;

  @media screen and (max-width: 750px) {
    text-align: center !important;
    justify-content: center;
    align-items: center !important;
    white-space: normal;
    padding: 0px !important;
  }
}

.work > hr {
  margin-top: 5em;
}
