.duties {
  font-size: 0.75rem;
  list-style-type: circle;
}

.duties > li {
  margin-bottom: 3px;
}

.techs {
  list-style: none;
  font-size: 0.7rem;
  margin: 0;
}

.techs > li {
  display: inline-block;
  padding-left: 14px;
  color: #b794de;
}

.pub {
  font-size: 0.6rem;
}

.pub > p {
  color: #777;
}

.publink {
  text-decoration: none;
}

.publink:hover {
  cursor: pointer;
}

.job > h4,
h5,
h6 {
  margin-bottom: 10px;
}

.job > h4 > span {
  color: #64ffda;
}

.job > h5 {
  font-weight: lighter;
}

.job {
  margin-bottom: 20px;
  @media screen and (max-width: 550px) {
    padding-right: -24px;
  }
}
